<?xml version="1.0" encoding="UTF-8"?>
<!-- status: 记录log4j2自身的log -->
<Configuration status="WARN">

    <Properties>
        <property name="log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
        <property name="log_size">2M</property>
        <property name="log_path">/tmp/easy-bank/logs</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${log_pattern}"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${log_path}/teller-api.log" filePattern="${log_path}/teller-api-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="${log_pattern}"/>
            <SizeBasedTriggeringPolicy size="${log_size}"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
